<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" defer>
	<title>homeBoard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  	<script src="scripts/main.js"></script>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header class="header">
    <h1 class="hb">homeBoard</h1>
    <h4 class="date"><input id="date" type="date"></h4></header>

	<main>
		<div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="household"><p>household + pets    <i class="fas fa-plus"></i> </p></div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info"><p> main static info (weather api, etc)    <i class="fas fa-plus"></i></p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-wall"><p>message wall</p></div>

                        	<div class="message-wall-input input-group">
     						<input type="text" class="form-control" placeholder="type message here">
     						<span class="input-group-btn">
       						<button class="btn btn-default" type="button">submit</button>
						     </span>
						   </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="chores"><p>chores    <i class="fas fa-plus"></i></p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer">&copy; 2018 teri + biniam are amazing</div>
            </div>
        </div>
	</div>
	</main>
</body>
</html>