<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" defer>
	<title>homeBoard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  	<script src="scripts/main.js"></script>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header class="header">
    <h1 class="hb">homeBoard</h1>
    <h4 class="date"><input id="date" type="date"></h4></header>

	<main>
		<div class="container">
        <div class="row">
        	<!-- give the div below the min height -->
            <div class="col-md-3 householdContainer">
            	<!-- this will be title -->
                <div class="household">
                	<p>household</p><i class="fas fa-plus householdadd" data-toggle="modal" data-target="#householdModal"></i>                	
                </div>
                <!-- this will be list -->
                <div class="householdList">
                	<p>teri - general assembly - 8 am - 5 pm</p>
                	<p>little miss kitten - housepet - 24/7</p>
                	<p>isa - cannabis rep - hours vary</p>
                </div>
        </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info"><p> main static info (weather api, etc)</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-wall"><p>message wall</p></div>

                        	<div class="message-wall-input input-group">

     						<input type="text" class="form-control" placeholder="type message here" id="messages">
     						
     						<span class="input-group-btn">
       						<button class="btn btn-default" type="button" id="addMessage">submit</button>
						     </span>
						   </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 choresContainer">
                <div class="chores"><p>chores</p><i class="fas fa-plus choresadd" data-toggle="modal" data-target="#choresModal"></i></div>
 				<div class="choreList">
                	<p>clean bathroom
                		<label class="checkboxen">
                			<input type="checkbox">
                		</label>
                	</p>
                	<p>teri <input id="dummydate" type="date"></p>
                	<p>wash dishes
                		<label class="checkboxen">
                			<input type="checkbox">
                		</label>
                	</p>
                	<p>isa <input id="dummydate" type="date"></p>
                	<p>buy incense
                		<label class="checkboxen">
                			<input type="checkbox">
                		</label>
                	</p>
                	<p>teri <input id="dummydate" type="date"></p>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer">&copy; 2018 teri + biniam are amazing</div>
            </div>
        </div>
	</div>

<!-- //MODALs GO HERE: first household, then chores: -->

	<div class="modal fade" id="householdModal" tabindex="-1" role="dialog" aria-labelledby="householdModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="householdModalLabel">add household user</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">user name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">work location:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">work schedule:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn btn-default">submit user</button>
      </div>
    </div>
  </div>
</div>

	<div class="modal fade" id="choresModal" tabindex="-1" role="dialog" aria-labelledby="choresModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="choresModalLabel">add chores</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">chore:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">date due:</label>
           <input id="date" type="date">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">user responsible:</label>

            		<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    select user
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li class ="dropydown">mr mcmuffin</li>
			    <li class ="dropydown">little miss kitten</li>
			    <li class ="dropydown">some other idiot</li>
			  </ul>
			</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn btn-default">submit</button>
      </div>
    </div>
  </div>
</div>

	</main>
</body>
</html>