<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homeBoard</title>
    <!-- font awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/app.js"></script>
</head>
<body>
    <!-- header -->
    <!-- <header id="siteHeader">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">this.life</a>
                </div>
            </div>
        </div>
    </header> -->
    <header class="header">
            <h1 class="hb"> <%=home.name%> homeBoard</h1>
            <h4 class="date"><input id="date" type="date"></h4>
    </header>

    <!-- main -->
     <main id="site-main">
         <div class="container">
            <%- body %>
         </div>

     </main> 
     <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="footer">&copy; 2018 teri + biniam are amazing</div>
            </div>
        </div>
    </footer>
</body>
</html>