* {
/*	border: 1px solid white;*/
	color: #00FEC8;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	text-decoration: none;
	background-color: #1B2227;
	border-radius: 8px;
	margin: 0;
}

	.header{
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      	color: #00FEC8;
       	border-radius: 0;
    	background-color: #1B2227;
    }
    .hb {
    	padding: 10px;
    	margin: auto;
    	display: flex;
    	justify-content: center;
    	padding-left: 205px;
    }

    .date{
    	padding: 10px;
    	margin-top: 22px;
    	margin-right: 10px;
    	display: flex;
    	justify-content: right;
    }

    main {
    	border-radius: 0px;
    }

    .container{
    	padding-top: 20px;
    }

    p {
    	background-color: #2D353A;
    }

    .householdContainer, .choresContainer {
    	display: flex;
    	flex-direction: column;
    	min-height: 445px;
    	background: #2D353A;
        padding: 10px;
        overflow: scroll;

    }

    .fas{
    	background-color: #2D353A;
    }

    .household, .chores {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	background: #2D353A;
    }

    .householdList, .choreList {
    	background: #2D353A; 
    	display: flex;
    	flex-direction: column;
    	align-items: flex-start;
    	justify-content: left;
    	padding: 10px;
    	overflow: scroll;
    }


	.row > div{
        margin-bottom: 15px;
    }
    .footer{
        min-height: 40px;
        text-align: right;
    	color: white;
        background: #2D353A;
        padding: 10px;
    
    }

    .chores {
        background: #2D353A;
        padding: 10px;
    }

    .checkboxen {
    	margin-left: 75px;
    }

    #dummydate {
    	margin-left: 20px;

    }

    .info{
        min-height: 185px;
        background: #2D353A;
        padding: 10px;
    }
    .message-wall{
        height: 225px;
        overflow: scroll;
        background: #97A2B7;
        margin-bottom: -15px;
        padding: 10px;
    }
    .message-wall > p{
   		background: #97A2B7;
   		color: black;
    }
    .message-wall-input{
    	border-radius: 0;
    }

    .chatter{
   		background: #97A2B7;
   		color: black;
    }

    .theWall {
    	display: inline;
    	background: #97A2B7;
    	color: black;
    }

	.modal-header, .modal-body, .modal-footer {
    	border-radius: 0;
    }

    .dropdown-menu {
    	border-radius: 0;
    	background-color: transparent;
    }
    .dropydowncolors{
    	color: #00FEC8;
    }

    li:hover {
    	color: white;
    }

/* Styles for proper margin when layout becomes horizontal */
@media (max-width: 991px){
    .content-bottom{
        margin-bottom: 15px;
    }
    .content-bottom.bg-alt{
        margin-bottom: -15px;
    }
}