* {
	border: 1px solid black;
	box-sizing: border-box;
	font-family: 'Josefin Sans',
	text-decoration: none;
	background-color: red;
}

.container {
	margin: auto;
	padding: 50px;
	border: 5px solid black;
}