* {
/*	border: 1px solid white;*/
	color: #00FEC8;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	text-decoration: none;
	background-color: #1B2227;
	border-radius: 8px;
	margin: 0;
}

	.header{
        height: 75px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      	color: #00FEC8;
       	border-radius: 0;
    	margin: auto;
    	flex-grow: 1;
    	background-color: #1B2227;
    }
    .hb {
    	padding: 10px;
    }

    .date{
    	padding: 10px;
    /*	width: 100px;
    	height: 50px;*/
    }

    main {
    	border-radius: 0px;
    }

    .container{
    	padding-top: 25px;
		/*border-radius: 5px;*/
    }

    p {
    	background-color: #2D353A;
    }

	.row > div{
        margin-bottom: 15px;
    }
    .footer{
        min-height: 40px;
        text-align: right;
    	color: white;
        background: #2D353A;
    
    }
    .household, .chores{
        min-height: 400px;
        background: #2D353A;
        padding: 10px;
    }
    .info{
        min-height: 175px;
        background: #2D353A;
        padding: 10px;
    }
    .message-wall{
        min-height: 200px;
        background: #7e8aa0;
        margin-bottom: -15px;
        padding: 10px;
    }
    .message-wall > p{
   		background: #7e8aa0;
    }
    .message-wall-input{
    	border-radius: 8px;
    }

/* Styles for proper margin when layout becomes horizontal */
@media (max-width: 991px){
    .content-bottom{
        margin-bottom: 15px;
    }
    .content-bottom.bg-alt{
        margin-bottom: -15px;
    }
}